<%= form_with(model: @design) do |f| %>
    <div class="row">
        <div class="col-25">
            <%= f.label 'Nombre' %>
        </div>
        <div class="col-75">
        <%= f.text_field :name %>
        </div>
    </div>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :file %>
    <%= f.file_field :file %>

    <%= f.label :public %>
    <%= select_tag "public", options_for_select([ "false", "true"]), {prompt: 'Seleccione una opción'} %>

    <%= f.submit 'Crear diseño' %>
<% end %>