<%= form_with(model: @design) do |f| %>

    <div class="row">
        <div class="col-25">
            <%= f.label 'Nombre' %>
        </div>
        <div class="col-75">
        <%= f.text_field :name %>
        </div>
    </div>

    <div class='row'>
        <div class='col-25'>
            <%= f.label :description %>
        </div>
        <div class='col-75'>
            <%= f.text_area :description %>
        </div>
    </div>

    <div class='row'>
        <div class='col-25'>
            <%= f.label :file %>
        </div>
        <div class='col-75'>
            <%= f.file_field :file %>
        </div>
    </div>

    <div class='row'>
        <div class='col-25'>
            <%= f.label :public %>
        </div>
        <div class='col-75'>
            <%= select_tag "public", options_for_select([ "false", "true"]), {prompt: 'Seleccione una opción'} %>
        </div>
    </div>

    <div class='row'>
        <% if @design.persisted? %>
            <%= f.submit 'Editar diseño' %>
        <% else %>
            <%= f.submit 'Crear diseño' %>
        <% end %>
    </div>
<% end %>