<h1>Bienvenido a Near3d</h1>
<p>Aqui podrás encontrar impresoras 3d disponibles cerca de ti. </p>

<% if user_signed_in? %>
    <h3>Sube tu diseño</h3>
    <%= form_with(model: Design.new) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :public %>
        <%= select_tag "public", options_for_select([ "false", "true"]), {prompt: 'Seleccione una opción'} %>

        <%= f.submit %>
    <% end %>
<% end %>

<h5>buscar</h5>
<input type="text" id="buscador" size="20"/>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Subido por</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id='designs'>
        <%= render @designs %>
    </tbody>
</table>

<h2>Tecnologías</h2>
<ul>
    <% @technologies.each do |technology| %>
        <li><a href='<%= technologies_path %>#tech<%= technology.id %>'><%= technology.name %></a></li>
    <% end %>
</ul>

<% if user_signed_in? %>
        <h4>Ayudanos a mejorar con una sugerencia</h4>
    <%= form_with(model: @suggestion) do |f| %>
        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit %>
    <% end %>
<% end %>

<% if can? :update, Design %>
    pasa
<% else %>
    no pasa
<% end %>
<script>
    $('#buscador').keyup(function(){
        $.ajax({
        type: "GET",
        url: "<%= designs_path %>",
        data: {buscador: $(this).val()},
        dataType: "script",
        success: function (response) {
            
        }
    });
    })
</script>