<div class='text-center'>
    <h1>Bienvenido a Near3d</h1>
    <p>Aqui podrás encontrar impresoras 3d disponibles cerca de ti. </p>
</div>

<!--formulario de creación de diseño-->
<div class='container'>
    <div class="row">
        <div class="col-6">
            <% if user_signed_in? %>
                <h3>Sube tu diseño</h3>
                <%= render 'form', design: @design %>
            <% end %>
        </div>
    </div>
</div>

<!--listado de diseños-->
<div class='container'>
    <table class='table'>
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Subido por</th>
                <th colspan='3'><input type="text" id="buscador" size="12" placeholder="Buscar" class='float-right'/></th>
            </tr>
        </thead>
        <tbody id='designs' class='white'>
            <%= render @designs %>
        </tbody>
    </table>
</div>

<!--listado de tecnologías-->
<div class='container'>
    <h2>Tecnologías</h2>
    <ul>
        <% @technologies.each do |technology| %>
            <li><a href='<%= technologies_path %>#tech<%= technology.id %>'><%= technology.name %></a></li>
        <% end %>
    </ul>
</div>

<!--formulario de creación de sugerencias-->
<div class='container'>
    <% if user_signed_in? %>
            <h4>Ayudanos a mejorar con una sugerencia</h4>
        <%= form_with(model: @suggestion) do |f| %>
            <%= f.label :content %>
            <%= f.text_area :content %>

            <%= f.submit %>
        <% end %>
    <% end %>

    <% if can? :update, Design %>
        pasa
    <% else %>
        no pasa
    <% end %>
</div>

<!--petición ajax para buscador-->
<script>
    $('#buscador').keyup(function(){
        $.ajax({
        type: "GET",
        url: "<%= designs_path %>",
        data: {buscador: $(this).val()},
        dataType: "script",
        success: function (response) {
            
        }
    });
    })
</script>