<h2><%= @design.name %></h2>
<h5>Subido por: <%= @design.user.name %></h5>
<%if user_signed_in? && @design.user.id == current_user.id %>
    <% if @design.public %>
        <h5>Estado: Público</h5>
    <% else %>
        <h5>Estado: Privado</h5>
    <% end %>
<% end %>

<div id='render'>
</div>

<h3>Descripción</h3>
<p><%= @design.description %></p>

<p><%=  %>


<%= link_to "Descargar #{@design.file.filename}", rails_blob_path(@design.file, disposition: 'attachment') %><br>

<%= link_to 'Atrás', root_path %>

<script src="<%= asset_path 'three.js' %>"></script>
<script src="<%= asset_path 'STLLoader.js' %>"></script>
<script src="<%= asset_path 'Detector.js' %>"></script>
<script src="<%= asset_path 'OrbitControls.js' %>"></script>
<script src="<%= asset_path 'handLoader.js' %>"></script>

<script>
    init("<%= rails_blob_path(@design.file) %>");
</script>
