<!--links para editar y eliminar la tienda-->
<% if @my_store %>
    <%= link_to 'editar tienda', edit_store_path(@store.id) %> <br>
    <%= link_to 'eliminar tienda', @store, method: :delete, data: { confirm: 'Seguro?' } %>
<% end %>

<!--lista de los dueños de la tienda-->
<h5>quienes administran esta tienda</h5>
<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>correo</th>
        </tr>
    </thead>
    <tbody>
        <% @admin_users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @my_store %>
    <%= link_to 'renunciar', userstore_path(@store.id), method: :delete, data: { confirm: 'Seguro que quieres renunciar a esta tienda?, si eres el único admin la tienda será eliminada' } %>
<% end %>

<!--formulario para añadir dueños-->
<% if @my_store %>
    <h5>asociar vendedor a esta tienda</h5>
    <%= form_with url: stores_add_vendor_store_path(@store), method: :post do |f|%>
        <h6>ingresa el id del nuevo vendedor</h6>
        <%= f.text_field :userid%>
        <%= f.submit 'enviar' %>
    <% end %>
<% end %>

<!--formulario de creación de impresoras-->
<% if @my_store %>
    <%= link_to 'Crea una impresora', new_store_printer_path(@store, @printer) %><br>
<% end %>

<!--lista de impresoras-->
<% if @printers.present? %>
    <table class='table table-responsive'>
        <thead>
            <tr>
                <th>foto</th>
                <th>Nombre</th>
                <th>dimensiones</th>
                <th></th>
                <% if @my_store %>
                    <th></th>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody class='white'>
            <% @printers.each do |printer| %>
                <tr id="<%= printer.id %>">
                    <% if printer.image.attached? %>
                        <td><%= image_tag printer.image, size: '100x100' %></td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td><%= printer.name %></td>
                    <td><%= printer.dimention_x %> mm x <%= printer.dimention_y %> mm x <%= printer.dimention_z %> mm</td>
                    <td><%= link_to 'Ver', store_printer_path(@store, printer) %></td>
                    <% if @my_store %>
                        <td><%= link_to 'Editar', edit_store_printer_path(@store, printer) %></td>
                        <td><%= link_to 'Eliminar', store_printer_path(@store, printer), method: :delete, data: { confirm: 'Seguro?', remote: true }  %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= link_to 'atrás', stores_path %>
