<%= form_with(model: [@store, printer], local: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :base_price %>
        <%= f.number_field :base_price %>

        <%= f.label :hour_price %>
        <%= f.number_field :hour_price %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :image %>
        <%= f.file_field :image %>

        <h5>medidas en milímetros</h5>

        <%= f.label :dimention_x %>
        <%= f.number_field :dimention_x %>

        <%= f.label :dimention_y %>
        <%= f.number_field :dimention_y %>

        <%= f.label :dimention_z %>
        <%= f.number_field :dimention_z %>

        <%= f.submit %>
    <% end %>